NET "astb" LOC = "N8";
NET "dstb" LOC = "P7";
NET "pwr" LOC = "N7";
NET "pwait" LOC = "N5";
NET "pdb(0)" LOC = "N12";
NET "pdb(1)" LOC = "P12";
NET "pdb(2)" LOC = "N11";
NET "pdb(3)" LOC = "P11";
NET "pdb(4)" LOC = "N10";
NET "pdb(5)" LOC = "P10";
NET "pdb(6)" LOC = "M10";
NET "pdb(7)" LOC = "R10";
NET "mclk" LOC = "A8";
NET "rgLed(0)" LOC = "L14";
NET "rgLed(1)" LOC = "L13";
NET "rgLed(2)" LOC = "M14";
NET "rgLed(3)" LOC = "L12";
NET "rgLed(4)" LOC = "N14";
NET "rgLed(5)" LOC = "M13";
NET "rgLed(6)" LOC = "P14";
NET "rgLed(7)" LOC = "R16";
NET "rgBtn(0)" LOC = "J13";
NET "rgBtn(1)" LOC = "K14";
NET "rgBtn(2)" LOC = "K13";
NET "rgBtn(3)" LOC = "k12";
NET "rgSwt(0)" LOC = "N15";
NET "rgSwt(1)" LOC = "J16";
NET "rgSwt(2)" LOC = "K16";
NET "rgSwt(3)" LOC = "K15";
NET "rgSwt(4)" LOC = "L15";
NET "rgSwt(5)" LOC = "M16";
NET "rgSwt(6)" LOC = "M15";
NET "rgSwt(7)" LOC = "N16";

#NET "sw" CLOCK_DEDICATED_ROUTE = FALSE; 

